{% load static %}
<link rel="stylesheet" href="{% static '/css/footer.css' %}" />
<div class="footer container-fluid">
  <div class="footerTop">
    <div class="aboutUs">
      <p class="FooterHeading">About us</p>
      <p>
        We strive to create a better and seamless experience for individuals in
        their time of need, and a streamlined experience for providers such as
        Hospitals, Banks, NBFCs and Insurance Companies.
      </p>
    </div>
    <div class="contactUs">
      <p class="FooterHeading">Contact us</p>
      <p>
        BNest, Bhopal Smart City Development <br />
        Center, near Natraj Petrol Pump, Sector A, Berkheda, Bhopal, Madhya
        Pradesh 462023 <br />
        Give-a-miss-call 0731-4855211 <br />
        support@bimaxpress.com
      </p>
    </div>
    <div class="connectWithUs">
      <p class="FooterHeading">Connect with us</p>

      <div class="icons" style="display: flex; justify-content: space-around; width: 300px;">
        <a href="https://www.facebook.com/Bima-Xpress-127702352038258/">
          <div style="width: 50px !important;">
            <img src="../static/imgs/facebook (1).png" width="50px" alt="" srcset="">
          </div>
        </a>
        <a href="https://instagram.com/bimaxpress?igshid=1sozbuwga3s7t">
          <div style="width: 50px !important;">
            <img src="../static/imgs/instagram.png" alt="" srcset="" width="50px">
          </div>
        </a>
        <a href="https://www.linkedin.com/company/bimaxpress">
          <div style="width: 50px !important;">
            <img src="../static/imgs/linkedin.png" alt="" srcset="" width="50px">
          </div>
        </a>
        <a href="https://youtube.com/channel/UC6Z7rFQyxTjnyIUzo_dbnwQ">
          <div style="width: 50px !important;">
            <img src="../static/imgs/youtube.png" alt="" srcset="" width="60px">
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="footerBottom">
    <div class="copyRight">
      <p>
        &#169; 2020 BimaXpress a trademark of RNLP Consulting & Technology
        Services Private Limited. All Rights Reserved.
      </p>
    </div>
    <div class="footerBottomUnder">
      <a href="/privacy-policy">
      <p>Privacy Policy</p> </a>
      <a href="/terms-and-conditions">
      <p>Terms And Condition</p></a>
    </div>
  </div>
</div>